.listAdminContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1126px;
    height: 928.95;
    margin: 0 auto;


}
.searchAdmin{
    width: 590.88px;
    display: flex;
    flex-direction: row;
    align-content: center;
    margin: 20px 0;
    position: relative;
    left: 170px;
    overflow: hidden;
}

.logosearchAdmin{
    height: 42px;
    width: 42px;
}
.searchbarAdmin{
    width: 529.76px;
}
.headerAdmin{
    display:flex;
    flex-direction: row;
    align-content: center;
}
.titleheaderAdmin{
    font-size: 42px;
    font-family: 700;
}
.textheaderAdmin{
    font-size:24px;
    font-weight: 700;
    align-self: center;
    position: relative;
    left: 350px;
}
.iconheaderAdmin{
    background-color:#FF3333;
    color: #fff;
    font-size: 25px;
    text-align: center;
    align-self: center;
    padding: 0 10px;
    border-radius: 3px;
    position: relative;
    left:420px
}

.titlesAdmin{
    width: 818.77px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0;
}
.codigotitleAdmin{
    position: relative;
    left: 20px;
}
.nombretitleAdmin{
    position: relative;
    left:60px
}
.categoriatitleAdmin{
    position: relative;
    left: 15px;
}

.listadoAdmin{
    display: grid;
    grid-template-columns: .5fr .75fr 1fr .75fr .25fr .25fr;
    margin-bottom: 30px;
}
.listadoAdmin li{
    list-style: none;
    margin-top: 10px;
}
.listadoAdmin p{
    font-family: 'inter',sans-serif;
    font-weight: 500;
    font-size: 24px;

}
.adminIconEdit,.adminIconDelete{
    width: 40%;
    height: 40%;
}
