<%-include("../partials/header")%>
<main class="loginMain">
    <body>
        <div class="loginContainer">
            <h2 class="loginTitle">INGRESAR A MI CUENTA</h2>
            <div class="formContainerlog">
                <label class="form__labeltop" for="name">Email:</label>
                <input class="form__inputtop" type="email" name="email" id="email" placeholder="Email" required>
            </div>
            <div class="formContainerlog">
                <label class="form__labelbottom" for="password">Contraseña:</label>
                <input class="form__inputbottom" type="password" name="password" id="password" placeholder="••••••••••••••" required>
            </div>
            <div class="IngresarContainer">
                <input class="formBottom" type="submit" value="Ingresar">
            <div>   
                <input type="checkbox" name="" id="">
                <label for="">Recordarme</label>
            </div>
            </div>
            <a class="regLink" href="#">Olvide mi Contraseña</a>
        </div>
    </body>
</main>
<%-include("../partials/footer")%>